<div class="d-flex justify-content-center m-4" *ngIf="loading === true">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div *ngIf="owner && loading === false">
  <a class="row" [href]="owner.url" target="_blank">
    <img class="rounded img m-3" [src]="owner.avatarUrl">
    <h2 class="mt-4">{{owner.login}}</h2>
  </a>
</div>
<div *ngIf="!owner && loading === false" class="text-center">
  <span>404: Usuário não encontrado</span>
</div>

<ul class="nav nav-tabs" *ngIf="owner && loading === false">
  <li class="nav-item">
    <span [class]="selectedTab === 1 ? 'nav-link active' : 'nav-link'" (click)="setTab(1)">Todos</span>
  </li>
  <li class="nav-item">
    <span [class]="selectedTab === 2 ? 'nav-link active' : 'nav-link'" (click)="setTab(2)">Favoritos</span>
  </li>
</ul>
<div class="mx-3" *ngIf="owner && loading === false">
  <app-repos-table [setNickname]="nickname" [totalPages]="totalPages" *ngIf="selectedTab === 1"></app-repos-table>
  <app-repos-table [setNickname]="nickname" [starred]="true" *ngIf="selectedTab === 2"></app-repos-table>
</div>
