<div class="d-flex justify-content-center mx-4" *ngIf="loading === true">
  <div class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<table class="table" *ngIf="repoList && repoList.length > 0 && loading === false">
  <thead class="thead-dark">
    <tr class="row">
      <th  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">Nome do repositório</th>
      <th  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">Descrição</th>
    </tr>
  </thead>
  <tbody>
    <tr class="row" *ngFor="let repo of repoList;">
      <td  class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <i class="bi bi-star-fill mr-2" *ngIf="starred"></i>
        <a [href]="repo.url" target="_blank">{{repo.name}}</a>
      </td>
      <td  class="col-xs-8 col-sm-8 col-md-8 col-lg-8">{{repo.description}}</td>
    </tr>
  </tbody>
</table>
<div *ngIf="repoList && repoList.length === 0 && loading === false" class="justify-content-center m-2">
  <span *ngIf="!starred" >Este usuário não possúi repositórios</span>
  <span *ngIf="starred" >Este usuário não possúi repositórios marcados com estrela</span>
</div>
